.container_main {
  padding: 0 1rem;

  @media screen and (min-width: 992px) {
    padding: 0 5.5rem;
  }
}

.special_font {
  font-family: "Cormorant Infant", serif;
}

.red_text {
  color: $secondary;
}

.flex {
  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  &_sec {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  &_text {
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: $light_text;
  }
}

.line {
  width: 6.5rem;
  border: 2px solid $light_text;
}

/* MEDIA QUERIES 


    @media screen and (min-width: 992px) {

    }

*/
