.container_main {
  padding: 0 1rem;

  @media screen and (min-width: 992px) {
    padding: 0 5.5rem;
  }
}

.special_font {
  font-family: "Cormorant Infant", serif;
}
.red_text {
  color: $secondary;
}

.flex {
  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  &_sec {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media screen and (min-width: 992px) {
      gap: 4rem;
      padding: 0 8rem;
    }
  }
  &_text {
    font-family: "Quicksand", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 5px;
    letter-spacing: 0em;
    color: $light_text;
    text-align: left;

    @media screen and (min-width: 992px) {
      font-size: 1.1rem;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.line {
  width: 4rem;
  border: 1px solid $light_text;
  @media screen and (min-width: 992px) {
    width: 6.5rem;
    border: 2px solid $light_text;
  }
}

.light_text {
  color: $light_text;
}

.light_bg {
  background: $light_bg;
}

/* MEDIA QUERIES 


    @media screen and (min-width: 992px) {

    }

*/
