.footer {
  background: $footer_bg;
  color: $white;
  font-weight: 400;
  font-size: 1.1rem;
  display: grid;
  align-items: center;
  justify-content: center;

  &_inner {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: 992px) {
      padding: 2rem 1rem;
      grid-template-columns: auto auto auto;
      gap: 8rem;
    }
  }

  &_left_section {
    gap: 1rem;

    .privacy_terms {
      display: none;
      @media screen and (min-width: 1250px) {
        display: block;
      }
    }
  }

  &_logo {
    font-weight: 500;
    font-style: italic;
    position: relative;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }

  .logo_img {
    width: 2.2rem;
  }

  &_middle_section {
    gap: 2rem;
  }

  &_right_section {
    margin-bottom: 1rem;
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
    }
    ul {
      font-size: 0.7rem;
      gap: 1rem;
      @media screen and (min-width: 1100px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 1200px) {
        font-size: 1.2rem;
      }

      li {
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
